html, body {
    height: 100%;
    margin: 0;
    font-family: 'Bitter', serif;
}

.navbar-bg {
    background-color: rgb(219, 219, 219);
}

header.customHeader {
    height: 100%;
    background: url("assets/landing3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: initial;
}

a.anchor {
    display: block;
    position: relative;
    top: -3.5rem;
    visibility: hidden;
}

.font-size-lg {
    font-size: 1.2rem;
}

.btn {
    font-family: 'Lato', sans-serif;
}

.btn-primary {
    background-color: #668ca1;
    border-color: #668ca1;
}

.btn-primary:hover {
    background-color: #80b0ca;
    border-color: #80b0ca;
}

.font-family-secondary {
    font-family: 'Lato', sans-serif;
}

.image {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-bottom: 100%;
}

.filterColor {
    position: absolute;
    background-color: #668ca1;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.5;
    z-index: 999;
    visibility: visible;
    transition: visibility 0.2s linear, opacity 0.2s linear;
    -moz-transition: visibility 0.2s linear, opacity 0.2s linear;
}

.image img {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    max-width: 150%;
    max-height: 150%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 1;
    transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
}

.projectText {
    position: absolute;
    visibility: hidden;
    z-index: 1000;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0;
    transition: visibility 0s linear 0.3s, opacity 0.3s linear;
    -moz-transition: visibility 0s linear 0.3s, opacity 0.3s linear;
}

.hoverContainer:hover > .image .filterColor {
    visibility: hidden;
    opacity: 0;
    transition-delay: 0ms;
}

.hoverContainer:hover > .image img {
    opacity: 0.2;
    transition-delay: 0ms;
}

.hoverContainer:hover > .projectText {
    visibility: visible;
    opacity: 1;
    transition-delay: 0ms;
}

#contactSection {
    background-color: #668ca1;
}

.my-7 {
    margin-top: 6.5rem;
    margin-bottom: 6.5rem;
}

@media (min-width: 768px) {
    .mt-md-8,
    .my-md-8 {
        margin-top: 8rem !important;
    }

    .mr-md-8,
    .mx-md-8 {
        margin-right: 8rem !important;
    }

    .mb-md-8,
    .my-md-8 {
        margin-bottom: 8rem !important;
    }

    .ml-md-8,
    .mx-md-8 {
        margin-left: 8rem !important;
    }
}