body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body > div, .header, .footer {
    padding: 0 240px;
}

.header, .landing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
}

.header-logo {
    font-size: 24px;
    font-weight: 900;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    gap: 16px;
}

.links {
    text-decoration: none;
    color: #E5E7EB;
}