body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body > div, .header, .footer {
    padding: 0 15vw;
}

.header, .landing, .nav-links, .card-section, .card-list, .card, .quote, .cta, .footer {
    display: flex;
}

.header, .landing {
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
}

.header-logo {
    font-size: 24px;
    font-weight: 900;
}

.nav-links {
    justify-content: space-around;
    list-style-type: none;
    gap: 16px;
}

.links {
    text-decoration: none;
    color: #E5E7EB;
}

.landing {
    padding-top: 16px;
    padding-bottom: 16px;
}

.landing-text, .landing-image {
    flex: 1;
}

.landing-image > img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.landing-text > h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}

.landing-text > p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0 0 8px 0;
}

button {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 600;
    padding: 6px 20px;
    border-radius: 6px;
    background-color: #3882F6;
}

.landing-text > button {
    border: 0;
}

.card-section {
    flex-direction: column;
    align-items: center;
    padding: 1vw 20vw 5vw;
}

.card-section > h3 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.card-list {
    display: flex;
    justify-content: center;
    gap: 46px;
}

.footer {
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
    padding-top: 16px;
    padding-bottom: 16px;
}